ec2-52-67-21-75.sa-east-1.compute.amazonaws.com:1001 {

    # API endpoints 
    handle_path /api/* {
        # Resolve the root directory 
        root * /var/www/html/public

        # Compression 
        encode zstd gzip

        # Serve static files
        file_server

        # PHP-FPM integration
        php_fastcgi escola_lms_app:9000 {
            header_up -Access-Control-Allow-Origin
            header_down -Access-Control-Allow-Origin
        }

        # CORS logic
        @origin header Origin {http.request.header.Origin}
        header @origin Access-Control-Allow-Origin {http.request.header.Origin}

        @excluded { 
            not header Origin {http.request.header.Origin}
        }
        header @excluded Access-Control-Allow-Origin *

        header Access-Control-Allow-Credentials true
    }

    # Storage proxy 
    handle_path /storage/* {
        reverse_proxy minio:9000
    }

    # Minio admin UI proxy
    handle_path /minio/* {
        reverse_proxy minio:9001
    }
}